
site_name: Stocks Whop Summaries
site_url: https://example.com/
theme:
  name: material
  language: zh
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

nav:
  - Home: index.md

plugins:
  - search
